<head>
    <title>Autocorrect Glossary</title>
    <script src="https://cdn.jsdelivr.net/npm/anchor-js/anchor.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico')}}">
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">RDL Halakha Formatter</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" href="/words">Autocorrect Glossary</a>
                    <a class=" nav-link" href="/italicized-words">Italicized Words</a>
                    <a class="nav-link" href="/sefaria-asks">Sefaria Asks</a>
                </div>
            </div>
        </div>
    </nav>
    <br>

    <div style="margin-left: 1.5em;">
        <h1>Autocorrect Glossary</h1>
        {% for result,pre_arr in corrected.items() %}
        <p><span class="anchored">
                {% if result in italicized %} <em>{%endif %}
                    {{ result }}:
                    {% if result in italicized %} </em>{%endif %}&nbsp;
            </span>
            {% for from_word in pre_arr %}
            {{ from_word }}{{ ", " if not loop.last }}
            {% endfor %}
        </p>
        {% endfor %}
    </div>
    <script>
        anchors.options = {
            visible: 'always',
            placement: 'left',
        };
        anchors.add('.anchored');
    </script>

</body>