<script src="{{ url_for('static', filename='js/delete_spelling_from_form.js') }}"></script>

<head>
    <title>Delete Spelling</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico')}}">
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Rosh Yeshiva Responds Formatter</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link" aria-current="page" href="/words">Glossary</a>
                    <a class="nav-link" href="/italicized-words">Italicized Words</a>
                    <a class="nav-link" href="/add-spellings">Add Spellings</a>
                    <a class="nav-link" href="/sefaria-asks">Sefaria Asks</a>
                </div>
            </div>
        </div>
    </nav>
    <br>
    <h1>Delete Words from Glossary</h1>

    <div style="margin-left:1em;">
        <form id="form" onsubmit="return deleteSpelling()">
            <div class="form-group">
                <label for="word">Spelling of Word to Delete</label>
                <input type="text" class="form-control" id="word" name="word">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

    <script src="{{ url_for('static', filename='js/delete_spelling_from_form.js') }}"></script>
</body>