<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
<script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
<h3>Enter Text</h3>
<div style="padding-left:10px;">
    <form id="code_form" spellcheck="false">
        <textarea id="form_textarea" style="font-size: 11px;" rows='16' cols='75'></textarea>
    </form>
    <button type="button" class="btn btn-primary" onclick="format()">Format</button>

    <br><br><br>
    <h3>Formatted Text</h3>
    <div id="HTML_STUFF" style="padding-left:10px;"><em>Nothing yet.</em></div>
</div>
<script src="{{ url_for('static', filename='js/RDLH.js') }}"></script>